@model Cuna_Mas_Web2.Models.Observacion
@{
    ViewBag.Title = "Ver";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="padding-left:10px"><a href="~/Observacion/Index">Lista Observaciones</a></li>
        <li class="breadcrumb-item active">@Model.titulo</li>
    </ol>
</nav>
<br />
<div class="container">
    <div class="row">
        <div class="card col-md" style="margin: 0.2em 0.2em;">
            <div class="card-body">
                <h3>Datos Observación</h3>
                <p class="card-title"><b>Descripción: </b>@Model.descripcion</p>
                <p class="card-title"><b>Fecha: </b>@Model.fecha</p>
                <p class="card-text"><b>Madre a cargo: </b>@(Model.Madre.nombre + ", " + Model.Madre.apellido)</p>
            </div>
        </div>
        <div class="card col-md" style="margin: 0.2em 0.2em;">
            <div class="card-body">
                <img class="card-img-top" src="~/Assets/img/avatar-0.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
<br />