@model Cuna_Mas_Web2.Models.Ranking
@{
    ViewBag.Title = "Ver";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="padding-left:10px"><a href="~/Ranking/Index">Lista Datos Medicos</a></li>
        <li class="breadcrumb-item active">@Model.Madre.nombre</li>
    </ol>
</nav>
<br />
<div class="container">
    <div class="row">
        <div class="card col-md" style="margin: 0.2em 0.2em; padding-top:1em;">
            <div class="card-body">
                <h3>Datos Ranking</h3>
                <p class="card-title"><b>Nombre de la Madre Cuidadora: </b>@Model.Madre.nombre</p>
                <p class="card-title"><b>Puntuación: </b>@Model.puntuacion</p>
            </div>
        </div>
    </div>
</div>
<br />